<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.join.TinyProgram.mapper.diary.DiaryMapper">
    <resultMap id="diary" type="com.join.TinyProgram.entity.diary.Diary">
        <id property="id" column="id"/>
        <result property="bid" column="bid"/>
        <result property="title" column="title"/>
    </resultMap>
    <!--<resultMap id="img" type="com.join.TinyProgram.entity.img.Img">-->
        <!--<id property="id" column="id"/>-->
        <!--<result property="bid" column="bid"/>-->
        <!--<result property="picUrl" column="picUrl"/>-->
    <!--</resultMap>-->

    <select id="listDiary" resultType="com.join.TinyProgram.entity.diary.Diary">
        SELECT *
        FROM t_diary
        Where bid=#{bid}
    </select>


    <delete id="deleteDiary">
    DELETE FROM t_diary
    WHERE id=#{id}
    </delete>

    <update id="updateDiary">
    UPDATE t_diary
    SET title=#{diary.title},inside=#{diary.inside},picUrl=#{diary.picUrl},path=#{diary.path},date=#{diary.date}
    WHERE id=#{diary.id}
    </update>

    <!--<insert id="addDiary" parameterType="com.join.TinyProgram.entity.diary.Diary">-->
        <!--<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">-->
            <!--SELECT  LAST_INSERT_ID() AS id-->
        <!--</selectKey>-->
    <!--INSERT INTO t_diary-->
    <!--(bid,title,inside,date)-->
    <!--VALUES (#{diary.bid},#{diary.title},-->
    <!--#{diary.inside},#{diary.date})-->
    <!--</insert>-->

    <insert id="addDiary" parameterType="com.join.TinyProgram.entity.diary.Diary"
            useGeneratedKeys="true"  keyProperty="id">
        INSERT INTO t_diary
        (bid,title,inside,date)
        VALUES (#{bid},#{title},
        #{inside},#{date})
    </insert>

    <insert id="addImg">
    INSERT INTO t_img
    (did,picUrl,path)
    VALUES (#{img.did},#{img.picUrl},#{img.path})
    </insert>


</mapper>