<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.join.TinyProgram.mapper.succulentMapper.SucculentMapper">

    <select id="getAll" resultType="com.join.TinyProgram.entity.Msg">
        SELECT *
        FROM t_succulent
    </select>
    
    <insert id="addNew" parameterType="com.join.TinyProgram.entity.Succulent">
        insert into t_succulent(imgUrl,pname,alias,classification,intro,feature,habits,purpose,soil,beam,humidity,dormancy)
        values (#{imgUrl},#{pname},#{alias},#{classification},#{intro},#{feature},#{habits},#{purpose},#{soil},#{beam},#{humidity},#{dormancy})
    </insert>

    <select id="searchByword" parameterType="com.join.TinyProgram.entity.Succulent">
        SELECT *
        FROM t_succulent
        where feature like '%'#{feature}'%'
    </select>
<!--    <update id="update" parameterType="com.join.TinyProgram.entity.Succulent">-->
<!--        -->
<!--    </update>-->
</mapper>