<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.join.TinyProgram.mapper.book.BookMapper">
    <resultMap id="book" type="com.join.TinyProgram.entity.book.Book">
        <id property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="name" column="name"/>
        <result property="watering" column="watering"/>
    </resultMap>

    <select id="listBook" resultType="com.join.TinyProgram.entity.book.Book">
        SELECT *
        FROM t_book
        Where uid=#{uid}
    </select>

    <!--<update id="updateFeelBack">-->
    <!--UPDATE t_feelback-->
    <!--SET status=#{feelback.status}-->
    <!--WHERE id=#{feelback.id}-->
    <!--</update>-->

    <delete id="deleteBook">
    DELETE FROM t_book
    WHERE id=#{id}
    </delete>

    <update id="updateBook">
    UPDATE t_book
    SET headUrl=#{book.headUrl},path=#{book.path}
    WHERE id=#{book.id}
    </update>

    <update id="update">
    UPDATE t_book
    SET name=#{book.name},description=#{book.description},watering=#{book.watering},plant=#{book.plant}
    WHERE id=#{book.id}
    </update>

    <update id="freshBook">
    UPDATE t_book
    SET date=#{date}
    WHERE id=#{id}
    </update>

    <!--<update id="updateDiary">-->
    <!--UPDATE t_diary-->
    <!--SET title=#{diary.title},inside=#{diary.inside},picUrl=#{diary.picUrl},path=#{diary.path},date=#{diary.date}-->
    <!--WHERE id=#{diary.id}-->
    <!--</update>-->
    <select id="queryBookById" resultType="com.join.TinyProgram.entity.book.Book">
        SELECT *
        FROM t_book
        Where id=#{id}
    </select>

    <insert id="addBook" parameterType="com.join.TinyProgram.entity.book.Book" useGeneratedKeys="true"  keyProperty="id">
    INSERT INTO t_book
    (uid,name,plant,date,description,watering)
    VALUES (#{uid},#{name},#{plant},#{date},#{description},#{watering})
    </insert>

</mapper>