<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.join.TinyProgram.mapper.userMapper.UserMapper">
    <resultMap id="user" type="com.join.TinyProgram.entity.user.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="sex" column="sex"/>
    </resultMap>

    <select id="listUser" resultType="com.join.TinyProgram.entity.user.User">
        SELECT *
        FROM t_user
    </select>



    <delete id="deleteUser">
    DELETE FROM t_user
    WHERE id=#{id}
    </delete>


    <update id="updateUser">
    UPDATE t_user
    SET (name,headUrl,sex)
    values (#{user.name},#{user.headUrl},#{user.sex})
    WHERE id=#{user.id}
    </update>

    <insert id="addUser" parameterType="com.join.TinyProgram.entity.user.User" useGeneratedKeys="true"  keyProperty="id">
    INSERT INTO t_user
    openid
    VALUES (#{openid})
    </insert>
</mapper>