<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.join.TinyProgram.mapper.msgMapper.msgMapper">
    <resultMap id="msg" type="com.join.TinyProgram.entity.Msg">
        <id property="id" column="id"/>
        <result property="msg" column="msg"/>
    </resultMap>

    <select id="getAll" resultType="com.join.TinyProgram.entity.Msg">
        SELECT *
        FROM t_msg
    </select>



    <!--<select id="listFeelBack" resultType="feelBack">-->
    <!--SELECT *-->
    <!--FROM t_feelback-->
    <!--</select>-->

    <!--<update id="updateFeelBack">-->
    <!--UPDATE t_feelback-->
    <!--SET status=#{feelback.status}-->
    <!--WHERE id=#{feelback.id}-->
    <!--</update>-->

    <!--<delete id="deleteFeelBack">-->
    <!--DELETE FROM t_feelback-->
    <!--WHERE id=#{id}-->
    <!--</delete>-->



    <!--<update id="updateUser">-->
    <!--UPDATE t_user-->
    <!--SET major=#{user.major},college=#{user.college}-->
    <!--WHERE id=#{user.id}-->
    <!--</update>-->

    <!--<update id="updateReport">-->
    <!--UPDATE t_report-->
    <!--SET score=#{report.score},point=#{report.point}-->
    <!--WHERE id=#{report.id}-->
    <!--</update>-->

    <!--<insert id="addReport">-->
    <!--INSERT INTO t_report-->
    <!--(class_name,teacher,stu_id,score,point,credit)-->
    <!--VALUES (#{report.class_name},#{report.teacher},-->
    <!--#{report.stu_id},#{report.score},#{report.point},#{report.credit})-->
    <!--</insert>-->
</mapper>